*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}

a{
    text-decoration: none;
}

.text{
    font-size: 17px;
    font-weight: 500;
}

/* --------------------------- */

header{
    background-color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
}



img{
    width: 100%;
    vertical-align: middle;
}

.logo{
    width: 150px;
    background: center;
    background-size: cover;
    line-height: 70px;
    
}

.left-menu .menu{
    padding-left: 20px;
}

.menu ul li{
    list-style-type: none;
    padding: 0px 30px;
    line-height: 70px;
}

.black{
    color: #222;
}

.menu ul li a{
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.pulsante a{
    color: #fff;
    background-color: #0060FF;
    padding: 10px 20px;
}

.Jumbotron{
    padding-top: 180px;
    width: 100%;
    height: 800px;
    margin-bottom: 250px;
    background-color: #add1ea;
}

.jumbotron-content{
    width: 1500px;
    margin: 0 auto;
}

.jumbotron-content h1{
    font-size: 70px;
    margin-bottom: 40px;
}

.jumbotron-content .fl .pulsante{
    margin: 40px 0px;
}

.jumbotron-text{
    width: 450px;
}

.arrow{
    font-size: 70px;
    padding-top: 20px;
}

.jumbotron-image img{
    width: 900px;
    margin-top: -40px;
}

main{
    width: 1300px;
    margin: 0 auto;
}

.main-title{
    font-size: 40px;
    margin-bottom: 70px;
}

.radiocheck {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiocheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radiocheck:hover input ~ .checkmark {
    background-color: #ccc; 
}

.radiocheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiocheck input:checked ~ .checkmark:after {
    display: block;
}

.radiocheck .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

section{
    width: 100%;
    margin-top: 40px;
}

.left-col{
    width: 33%;
    padding-right: 35px;
}

.central-col{
    width: 34%;
    padding: 0px 25px;

}

.right-col{
    width: 33%;
    padding-left: 35px;
}

.col-content{
    width: 100%;
    height: 1250px;
    border: 2px solid #999;
}

.col-header{
    border-bottom: 2px solid #999;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
}

.col-main{
    padding:  30px;
}

.col-main h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.prezzo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.durata{
    font-size: 15px;
    color: #999;
    margin-bottom: 60px;
}

.utenti{
    font-size: 17px;
    margin-bottom: 30px;
}

.spazio{
    font-size: 17px;
    margin-bottom: 30px;
}

.funzioni{
    font-size: 17px;
    margin-bottom: 70px;
}

.col-main .pulsante a{
    text-align: center;
    padding: 13px 57px;
}

.buy-now{
    margin-top: 40px;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.buy-now span a{
    color: #0060FF;
}

.line{
    width: 70px;
    border-top: 2px solid #999;
    margin-bottom: 50px;
}

.col-main ul{
    margin-top: 30px;
}

.col-main ul li{
    margin: 30px 0px;
    font-weight: 500;
    list-style-type: none;
}

.col-main ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0060FF;
    margin-right: 10px;
}

.col-footer{
    margin-top: 60px;
    width: 100%;
    height: 280px;
    border: 2px solid #999;
}

.footer-content{
    padding: 40px;
}

.office .pulsante a{
    padding: 13px 90px;
}

.footer-content-text div{
    font-weight: bold;
    margin-top: 17px;
    font-size: 20px;
}

.solution{
    font-size: 20px;
    padding-left: 40px;
}

.second-section{
    margin-top: 150px;
}

.photo{
    width: 50%;
    height: 500px;

}

.photo img{
    width: 100%;
}

.row-text{
    width: 50%;
    padding: 80px;
}

.row-text h1{
    font-size: 30px;
}

.row-text div{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.row-text .pulsante a{
    background-color: #fff;
    border: 2px solid #555;
    color: #555;
}