*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.fl{
    float: left;
}

.fr{
    float: right;
}

.clearfix::after{
    display: block;
    content: " ";
    clear: both;
}

a{
    text-decoration: none;
}

.text{
    font-size: 17px;
    font-weight: 500;
}

/* --------------------------- */

/* HEADER */
header{
    background-color: #fff;
    padding: 5px;
    position: fixed;
    width: 100%;
    z-index: 1;
    line-height: 70px;
}

/* LOGO */
img{
    width: 100%;
    vertical-align: middle;
}

.logo{
    width: 150px;
    background: center;
    background-size: cover;
}

/* MENU */
.left-menu .menu{
    padding-left: 20px;
}

.menu ul li{
    list-style-type: none;
    padding: 0px 30px;
}

.black{
    color: #222;
}

.menu ul li a{
    font-size: 15px;
    font-weight: bold;
    vertical-align: middle;
}

.pulsante a{
    color: #fff;
    background-color: #0060FF;
    padding: 10px 20px;
}

/* JUMBOTRON */
.Jumbotron{
    padding-top: 180px;
    width: 100%;
    height: 850px;
    margin-bottom: 250px;
    background-color: #add1ea;
}

.jumbotron-content{
    width: 1500px;
    margin: 0 auto;
}

.jumbotron-content h1{
    font-size: 70px;
    margin-bottom: 40px;
}

.jumbotron-content .fl .pulsante{
    margin: 40px 0px;
}

.jumbotron-text{
    width: 450px;
}

.arrow{
    font-size: 70px;
    padding-top: 20px;
}

.jumbotron-image img{
    width: 900px;
}

/* MAIN */
main{
    width: 1300px;
    margin: 0 auto;
}

.main-title{
    font-size: 40px;
    margin-bottom: 70px;
}

/* RADIO CHECK */
.radiocheck {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-right: 40px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.radiocheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

.radiocheck:hover input ~ .checkmark {
    background-color: #ccc; 
}

.radiocheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.radiocheck input:checked ~ .checkmark:after {
    display: block;
}

.radiocheck .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

/* COLONNE */
section{
    width: 100%;
    margin-top: 40px;
}

.left-col{
    width: calc(100% / 3);
    padding-right: 40px;
}

.central-col{
    width: calc(100% / 3);
    padding: 0px 20px;

}

.right-col{
    width: calc(100% / 3);
    padding-left: 40px;
}

.col-content{
    width: 100%;
    height: 1250px;
    border: 2px solid #999;
}

.col-header{
    border-bottom: 2px solid #999;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-weight: 500;
    font-size: 20px;
}

.col-main{
    padding:  30px;
}

.col-main h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.prezzo{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.durata{
    font-size: 15px;
    color: #999;
    margin-bottom: 60px;
}

.utenti{
    font-size: 17px;
    margin-bottom: 30px;
}

.spazio{
    font-size: 17px;
    margin-bottom: 30px;
}

.funzioni i{
    position: absolute;
    left: 0px;
    padding: 2px;
}

.funzioni{
    font-size: 17px;
    margin-bottom: 70px;
    position: relative;
    padding-left: 22px;
}

.col-main .pulsante a{
    text-align: center;
    padding: 13px 57px;
}

.buy-now{
    margin-top: 40px;
    font-size: 17px;
    margin-bottom: 40px;
    font-weight: 500;
}

.buy-now span a{
    color: #0060FF;
}

.line{
    width: 70px;
    border-top: 2px solid #999;
    margin-bottom: 50px;
}

.col-main ul{
    margin-top: 30px;
}

.col-main ul li{
    margin: 30px 0px;
    font-weight: 500;
    list-style-type: none;
    position: relative;
    padding-left: 23px;
}

.col-main ul li::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f00c";
    color: #0060FF;
    position: absolute;
    left: 0px;
}

.col-footer{
    margin-top: 60px;
    width: 100%;
    height: 280px;
    border: 2px solid #999;
}

.col-footer-content{
    padding: 40px;
}

.office .pulsante a{
    padding: 13px 90px;
}

.footer-content-text div{
    font-weight: bold;
    margin-top: 17px;
    font-size: 20px;
}

.solution{
    font-size: 20px;
    padding-left: 40px;
}

/* PARTNERS */
.second-section{
    margin-top: 150px;
    height: 600px;
}

.photo{
    width: 50%;
    height: 500px;

}

.photo img{
    width: 100%;
}

.row-text{
    width: 50%;
    padding: 80px;
}

.row-text h1{
    font-size: 30px;
}

.row-text div{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 500;
}

.row-text .pulsante a{
    background-color: #fff;
    border: 2px solid #555;
    color: #555;
}

/* GRIGLIA */
.centro{
    margin: 0px 90px;
}

.row .riquadro{
    margin-top: 70px;
}

.row h1{
    font-size: 40px;
}

.riquadro{
    width: calc(100% / 3 - 60px);
    height: 600px;
}

.riquadro img{
    width: 100%;
    background: center;
}

.riquadro h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.riquadro div{
    font-size: 18px;
}

.riquadro div span{
    text-decoration: underline;
}

/* INFO */
.info{
    margin-top: 130px;
    width: 570px;
}

.info h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.link a{
    color: #2196F3;
    font-weight: 500;
    text-decoration: underline;
}

/* TEAMS */
.company{
    width: 100%;
    margin: 0 auto;
    margin-top: 40px;
}

.first-column{
    width: 550px;
    height: 550px;
}

.second-column{
    width: calc(100% - 1100px);
    height: 550px;
    padding: 80px;
}

.second-column p{
    line-height: 25px;
    margin-bottom: 60px;
}

.second-column img{
    width: 200px;
    background: center;
    margin-bottom: 50px;
}


.column-back{
    background-color: #eee;
}

.third-column{
    width: 550px;
    height: 550px;
}

.square{
    width: 50%;
    height: 50%;

}

.square img{
    width: 50%;
    background: center;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.green{
    background-color: #94d595;
    border: 10px solid #caeacb;
}

.purple{
    background-color: #6b002b;
}

.cyan{
    background-color: #0096d3;
}

.red{
    background-color: #ff0000;
}

.orange{
    background-color: #e90006;
}

.lightblue{
    background-color: #add1ea;
}

.blue{
    background-color: #022486;
}

.yellow{
    background-color: #ffd600;
}

.company-footer{
    width: 100%;
    height: 400px;
    padding: 150px 0px;
    background-color: #add1ea;
}

.company-footer-content{
    width: 1300px;
    margin: 0 auto;
}

.company-footer-content h1{
    width: 600px;
    color: #6b002b;
    font-size: 50px;
}

.company-footer-content .pulsante{
    text-align: center;
    margin-top: 25px;
}

.company-footer-content .pulsante a{
    background-color: #eee;
    color: #333;
    padding: 10px 90px;
}

/* QUESTIONS */
.question-section{
    width: 1300px;
    margin: 0 auto;
    margin-top: 150px;
    border-bottom: 2px solid #ccc;
}

.question-section h1{
    font-size: 45px;
    margin-bottom: 60px;
}

.question{
    height: 120px;
    font-size: 20px;
    border-top: 2px solid  #ccc;
    line-height: 120px;
    font-weight: bold;
}

.question::after{
    font-family: "Font Awesome 5 Free";
    content: "\f107";
    font-weight: 900;
    float: right;
    padding-right: 80px;
    color: #222;
}

/* FOOTER */
footer{
    margin-top: 150px;
    width: 100%;
    background-color: #000;
    height: 500px;
    padding: 130px;
}

.footer-cont-array h1{
    color: #fff;
    margin-bottom: 30px;
}

.footer-cont-array ul li a{
    color: #fff;
}

.footer-cont-array ul li{
    margin: 10px 0px;
}

.footer-cont-array{
    width: calc(100% / 5);
}